@charset "UTF-8";


img {
    border-radius: 30px;
}

.img {
 border-radius: 20px;
 position:absolute;
 top: 10px;
 left: 20px;

}
   
 .quemsomos {
 width:800px;
 height:420px;
 background-color: rgb(230, 213, 192);
 padding: 5px;
 border: 3px solid black;
 position: absolute;
 top: 170px;
 left: 680px;
 }
 
.quemsomos > p {
font-size: 25px;

}

 .sede {
position: relative;
 top: 20px;
 left: 1px;

 }
 
 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
     font-size: 2em ;
     }
 
     h1 {
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style:oblique;
      font-weight: 300px;
      font-display: 5px;
      display: inline-block;
      }
      
    header {
 padding: 2px;
 box-shadow: 10px 10px 10px black;
 text-align: center;
 background-color: rgb(139,205,81); 


    }

     header > h1 {
       color:black
    }

    main {
        background-color: rgb(219, 0, 106);
        border-radius: 5px;
    }

 
 footer {
    text-align: center;
    padding: 10px;
 box-shadow: 10px 10px 10px, 10px black;
 border-radius: 20px;
 background-color: rgb(0, 0, 0);
 
 }

 h2#história {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 60px;
   width:150px;
   padding: 10px;
   background-color: rgb(130, 106, 237);
   margin:5px;
   text-align: center;
   position: relative;
   top: 10px;
   left: 600px;
 }
   
   .familia {
   position: relative;
   top: 20px;
   left: 680px;
   }

 }
 
 footer > p {
 
 color:rgb(255, 255, 255)
 
 }
 
 body {
    background-color: rgb(255, 255, 255);
 }
 
 nav {
  background-color: rgb(130, 106, 237);
 padding: 10px;
 border-radius: 10px;
 }

 nav > a {
display:inline-flex;


 }

.historia > p {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
position: absolute;
top: 680px;
left: 10px;
padding: 5px;
}